<!-- best app lifestyle start -->
<div class="best_app_lifestyle">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="smdy_img">
                    <p><img src="../../assets/images/right_mark_sign.png" alt="">#1 Same Day Choice App of 2022</p>
                </div>
                <div class="smdy_text">
                    <h2>Best app for your modern lifestyle</h2>
                    <p>Increase productivity with a simple to-do app. app for managing your personal budgets.</p>
                </div>
                <div class="smdy_btn">
                    <ul>
                        <li><a href="" id="try_forfree_btn"><button class="">Try For
                                    Free</button></a></li>
                        <li><a href="" id="watch_withdemo"><button class="">Watch With
                                    Demo</button></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 background-best_app_lifestyle">
                <img src="../../assets/images/bg2.png" alt="">
            </div>
        </div>
    </div>
</div>



<!-- rotating testing -->
<!-- rotating testing -->
<!----------------------------------------------------------- we deliver start -->
<div class="we_deliver__start"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 mb-4 mb-lg-0">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam esse aspernatur neque vel, odio placeat illum alias cumque, laborum dolore minima, asperiores nihil animi inventore facilis saepe tempore doloribus ipsam!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam esse aspernatur neque vel, odio placeat illum alias cumque, laborum dolore minima, asperiores nihil animi inventore facilis saepe tempore doloribus ipsam!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam esse aspernatur neque vel, odio placeat illum alias cumque, laborum dolore minima, asperiores nihil animi inventore facilis saepe tempore doloribus ipsam!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam esse aspernatur neque vel, odio placeat illum alias cumque, laborum dolore minima, asperiores nihil animi inventore facilis saepe tempore doloribus ipsam!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam esse aspernatur neque vel, odio placeat illum alias cumque, laborum dolore minima, asperiores nihil animi inventore facilis saepe tempore doloribus ipsam!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam esse aspernatur neque vel, odio placeat illum alias cumque, laborum dolore minima, asperiores nihil animi inventore facilis saepe tempore doloribus ipsam!</p>
        </div>
        <div class="col-lg-6 mb-4 mb-lg-0">
            <div class="oneWallet-img-sec animateElements inView">
                <img alt="bg_img-1" class="rounded-img" src="../../assets/images/background-rotating.png" width="100%" height="auto" style="width: 100%;">
                <div class="oneWallet_sub-img"> <img alt="cashaa-log-img-2" src="../../assets/images/logo-with-name.webp" width="100%" height="auto" style="width: 100%;">
                </div>
                <div class="sec-1 cryptoCurrenciesIcons" data-aos="zoom-in" data-aos-duration="1500"><img alt="panel-1" class="animEl sec-box-shadows-right" src="../../assets/images/sub_img_webp/google-ads.webp">
                </div>
                <div class="sec-2 cryptoCurrenciesIcons" data-aos="zoom-in" data-aos-duration="1500">
                    <img alt="panel-2" class="animEl sec-box-shadows-left" src="../../assets/images/sub_img_webp/printer-repair.webp" width="100%" height="auto">
                </div>
                <div class="sec-3 cryptoCurrenciesIcons" data-aos="zoom-in" data-aos-duration="1500">
                    <img alt="panel-3" class="animEl sec-box-shadows-right" src="../../assets/images/sub_img_webp/computer-desktop.webp" width="100%" height="auto">
                </div>
                <div class="sec-4 cryptoCurrenciesIcons" data-aos="zoom-in" data-aos-duration="1500">
                    <img alt="panel-4" class="animEl sec-box-shadows-left" src="../../assets/images/sub_img_webp/computer-repair.webp" width="100%" height="auto">
                </div>
                <div class="sec-5 cryptoCurrenciesIcons" data-aos="zoom-in" data-aos-duration="1500">
                    <img alt="panel-5" class="animEl sec-box-shadows-left" src="../../assets/images/sub_img_webp/computer-accessories.webp" width="100%" height="auto">
                </div>
                <!--  -->
                <div class="sec-6 cryptoCurrenciesIcons" data-aos="zoom-in" data-aos-duration="1500">
                    <img alt="panel-6" class="animEl sec-box-shadows-left" src="../../assets/images/sub_img_webp/opd-buddy.webp" width="100%" height="auto">
                </div>
                <div class="sec-7 cryptoCurrenciesIcons" data-aos="zoom-in" data-aos-duration="1500">
                    <img alt="panel-7" class="animEl sec-box-shadows-left" src="../../assets/images/sub_img_webp/ups-repair.webp" width="100%" height="auto">
                </div>

                <div class="sec-8 cryptoCurrenciesIcons" data-aos="zoom-in" data-aos-duration="1500">
                    <img alt="panel-8" class="animEl sec-box-shadows-left" src="../../assets/images/sub_img_webp/laptop-repair.webp" width="100%" height="auto">
                </div>
            </div>
        </div>
    </div>
</div>
<!----------------------------------------------------------- we deliver end -->
<!-- rotating testing -->
<!-- rotating testing -->