<!-- best app lifestyle start -->
<div class="best_app_lifestyle">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="smdy_img">
                    <p><img src="../../assets/images/right_mark_sign_blue_color.png" alt="">#1 Same Day Choice App of 2022
                    </p>
                </div>
                <div class="smdy_text">
                    <h2>Best app for your modern lifestyle</h2>
                    <p>Increase productivity with a simple to-do app. app for managing your personal budgets.</p>
                </div>
                <div class="smdy_btn">
                    <ul>
                        <li><a href="" id="try_forfree_btn"><button class="button" type="button">Try For
                                    Free</button></a>
                        </li>
                        <li><a href="" id="watch_withdemo"><button class="button" type="button">Watch With
                                    Demo</button></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 background-best_app_lifestyle">
                <img src="../../assets/images/bg2.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- we deliver start -->
<div class="we_deliver__start">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-4 mb-lg-0">
                <h3>We Deliver!</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam esse aspernatur neque vel, odio placeat illum alias cumque, laborum dolore minima, asperiores nihil animi inventore facilis saepe tempore doloribus ipsam!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam esse aspernatur neque vel, odio placeat illum alias cumque, laborum dolore minima, asperiores nihil animi inventore facilis saepe tempore doloribus ipsam!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam esse aspernatur neque vel, odio placeat illum alias cumque, laborum dolore minima, asperiores nihil animi inventore facilis saepe tempore doloribus ipsam!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam esse aspernatur neque vel, odio placeat illum alias cumque, laborum dolore minima, asperiores nihil animi inventore facilis saepe tempore doloribus ipsam!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam esse aspernatur neque vel, odio placeat illum alias cumque, laborum dolore minima, asperiores nihil animi inventore facilis saepe tempore doloribus ipsam!</p>
            </div>
            <div class="col-lg-6 mb-4 mb-lg-0">
                <div class="oneWallet-img-sec animateElements inView">
                    <img alt="bg_img-1" class="rounded-img" src="../../assets/images/background-rotating.png" width="100%" height="auto" style="width: 100%;">
                    <div class="oneWallet_sub-img"> <img alt="cashaa-log-img-2" src="../../assets/images/logo-with-name.webp" width="100%" height="auto" style="width: 100%;">
                    </div>
                    <div class="sec-1" data-aos="zoom-in" data-aos-duration="1500"><img alt="panel-1" class="animEl sec-box-shadows-right" src="../../assets/images/sub_img_webp/google-ads.webp">
                    </div>
                    <div class="sec-2" data-aos="zoom-in" data-aos-duration="1500">
                        <img alt="panel-2" class="animEl sec-box-shadows-left" src="../../assets/images/sub_img_webp/printer-repair.webp" width="100%" height="auto">
                    </div>
                    <div class="sec-3" data-aos="zoom-in" data-aos-duration="1500">
                        <img alt="panel-3" class="animEl sec-box-shadows-right" src="../../assets/images/sub_img_webp/computer-desktop.webp" width="100%" height="auto">
                    </div>
                    <div class="sec-4" data-aos="zoom-in" data-aos-duration="1500">
                        <img alt="panel-4" class="animEl sec-box-shadows-left" src="../../assets/images/sub_img_webp/computer-repair.webp" width="100%" height="auto">
                    </div>
                    <div class="sec-5" data-aos="zoom-in" data-aos-duration="1500">
                        <img alt="panel-5" class="animEl sec-box-shadows-left" src="../../assets/images/sub_img_webp/computer-accessories.webp" width="100%" height="auto">
                    </div>
                    <!--  -->
                    <div class="sec-6" data-aos="zoom-in" data-aos-duration="1500">
                        <img alt="panel-6" class="animEl sec-box-shadows-left" src="../../assets/images/sub_img_webp/opd-buddy.webp" width="100%" height="auto">
                    </div>
                    <div class="sec-7" data-aos="zoom-in" data-aos-duration="1500">
                        <img alt="panel-7" class="animEl sec-box-shadows-left" src="../../assets/images/sub_img_webp/ups-repair.webp" width="100%" height="auto">
                    </div>
                    <div class="sec-8" data-aos="zoom-in" data-aos-duration="1500">
                        <img alt="panel-8" class="animEl sec-box-shadows-left" src="../../assets/images/sub_img_webp/laptop-repair.webp" width="100%" height="auto">
                    </div>
                    <!--  -->
                    <div class="sec-9" data-aos="zoom-in" data-aos-duration="1500">
                        <img alt="panel-9" class="animEl sec-box-shadows-left" src="../../assets/images/sub_img_webp/cctv-camera.webp" width="100%" height="auto">
                    </div>
                    <div class="sec-10" data-aos="zoom-in" data-aos-duration="1500">
                        <img alt="panel-10" class="animEl sec-box-shadows-left" src="../../assets/images/sub_img_webp/laptop.webp" width="100%" height="auto">
                    </div>
                    <div class="sec-11" data-aos="zoom-in" data-aos-duration="1500">
                        <img alt="panel-11" class="animEl sec-box-shadows-left" src="../../assets/images/sub_img_webp/ups.webp" width="100%" height="auto">
                    </div>
                    <div class="sec-12" data-aos="zoom-in" data-aos-duration="1500">
                        <img alt="panel-12" class="animEl sec-box-shadows-left" src="../../assets/images/sub_img_webp/csc.webp" width="100%" height="auto">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- download our app now start -->
<div class="download_app_second">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="custom-width">
                    <h3>Download our App now !</h3>
                    <p>Are you a senior citizen living alone with no one to help?</p>
                    <p>Are you out of town and worried about your parents' well-being?</p>
                    <p>Don't worry, SameDay is here to cater to all your needs regarding medical assistance.</p>
                    <p>Download our app to get the seamless experience of booking a service agent that will help you with your needs.
                    </p>
                    <p>Our trust worthy agent will pick you up for your doctor's appointment, be there with you the entire time, help you get the prescribed medications during the time and will drop you back at home. To know more about our services download
                        our app from the Playstore.
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="mob-app-img-sample">
                    <!-- <img src="../../assets/images/download_app_BG2.png" alt=""> -->
                    <img src="../../assets/images/iphone_12pro_max.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- how we work for you  start -->
<div class="how_we_work_for_you">
    <div class="container">
        <div class="heading_text">
            <h3>How we work for you</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam eaque rerum beatae officia sequi, magni reprehenderit expedita harum praesentium corporis pariatur velit, iste, eum enim maiores! Fuga quaerat natus sed!</p>
        </div>
        <!-- card -->
        <div class="work-process-card">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 card_img_col">
                    <img src="../../assets/images/how-we-work-part1.png" alt="">
                </div>
                <div class="col-6 card_empty_col"></div>
                <div class="col-6 card_empty_col"></div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 card_img_col">
                    <img src="../../assets/images/how-we-work-part2.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- why choose us start -->
<div class="why_choose_us">
    <div class="width">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div class="hdng_n_txt">
                        <h3>Why Choose us</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="options meet-new-cust">
                        <img src="../../assets/images/new_custmer.png" alt="">
                        <span>
                            <h4>Meet new customers</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab illo quis blanditiis
                                accusamus nisi at. Dolor commodi expedita harum pariatur!
                            </p>
                        </span>
                    </div>
                    <div class="options grow-your-revenue">
                        <img src="../../assets/images/grow_revenue.png" alt="">
                        <span>
                            <h4>Grow your revenue</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab illo quis blanditiis
                                accusamus nisi at. Dolor commodi expedita harum pariatur!
                            </p>
                        </span>
                    </div>
                    <div class="options online-reputation">
                        <img src="../../assets/images/online_reputation.png" alt="">
                        <span>
                            <h4>Build your online reputation</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab illo quis blanditiis
                                accusamus nisi at. Dolor commodi expedita harum pariatur!
                            </p>
                        </span>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 bg_img">
                    <img src="../../assets/images/w_c_u_BG.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- our customer remark Start -->
<div class="our_customer_remark">
    <div class="container">
        <h3 class="main_heading_txt lh-1">Our Customer Remark</h3>
        <div class="row">
            <div class="col-sm-0 col-md-0 col-lg-4 col-xl-6"></div>
            <div class="col-sm-12 col-md-12 col-lg-8 col-xl-6">
                <div class="heading_text">
                    <div class="content_heading">
                        <h3 class="lh-1 mb-1">Meet Client Satisfaction by using product</h3>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-6 customers_pics">
                <div class="customer">
                    <img class="bg_customers_pics" src="../../assets/images/bg3.png" alt="">
                    <div class="pics">
                        <img src="../../assets/images/customer1.png" alt="">
                        <img src="../../assets/images/customer2.png" alt="">
                        <img src="../../assets/images/customer3.png" alt="">
                        <img src="../../assets/images/customer4.png" alt="">
                        <img src="../../assets/images/customer5.png" alt="">
                        <img src="../../assets/images/customer6.png" alt="">
                        <img src="../../assets/images/customer7.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-8 col-xl-6">
                <div class="heading_text">
                    <div class="content_heading">
                        <p class="lh-base">The rise of mobile devices transforms the way we consume. elevant channels such as Facebook.</p>
                        <div class="rating-star">
                            <i class="bi bi-star-fill text-warning p-2 display-6"></i>
                            <i class="bi bi-star-fill text-warning p-2 display-6"></i>
                            <i class="bi bi-star-fill text-warning p-2 display-6"></i>
                            <i class="bi bi-star-fill text-warning p-2 display-6"></i>
                            <i class="bi bi-star-fill text-warning p-2 display-6"></i>
                        </div>
                        <div class="customer_view">
                            <h4 class="lh-1">User friendly & Customizable</h4>
                            <p class="lh-base">Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution.
                                User generated content in real-time will have multiple touchpoints for offshoring.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- f_a_q start -->
<div class="f_a_q">
    <div class="container">
        <div class="text-center">
            <h2 class="lh-1">Frequently asked questions</h2>
            <p>The rise of mobile devices transforms the way we consume information entirely and the world's most elevant channels such as Facebook.</p>
        </div>
        <ngb-accordion #acc="ngbAccordion" activeIds="config-panel-one">
            <ngb-panel title="How to contact with riders emergency?" id="config-panel-one">
                <ng-template ngbPanelContent>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                    on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                    raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </ng-template>
            </ngb-panel>
            <ngb-panel title="App installation failed, how to update system information?">
                <ng-template ngbPanelContent>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                    on it squid single-origin coffee nulla assumenda shoreditch et.
                </ng-template>
            </ngb-panel>
            <ngb-panel title="App installation failed, how to update system information?">
                <ng-template ngbPanelContent>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                    on it squid single-origin coffee nulla assumenda shoreditch et.
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
</div>
<!-- download app section! start -->
<div class="download_app_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div>
                    <h3>Download Our App Now!</h3>
                    <p>The rise of mobile devices transforms the way we consume information entirely<br>and the world's most elevant channels such as Facebook.</p>
                    <ul>
                        <li><img src="../../assets/images/google play store logo.png" alt=""></li>
                        <li><img src="../../assets/images/apple store logo.png" alt=""></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="download-app-section-image">
                    <img src="../../assets/images/downlod_bg.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>


<!-- You can now use your library component in app.component.html -->
<!-- <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)"
    (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
    <div ngxSlickItem *ngFor="let slide of slides" class="slide">
        <img src="{{ slide.img }}" alt="" width="100%">
    </div>
</ngx-slick-carousel>

<button (click)="addSlide()">Add</button>
<button (click)="removeSlide()">Remove</button>
<button (click)="slickModal.slickGoTo(2)">slickGoto 2</button>
<button (click)="slickModal.unslick()">unslick</button> -->