@font-face {
    font-family: "Poppins-Regular";
    src: url(../../assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url(../../assets/fonts/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: "Poppins-Light";
    src: url(../../assets/fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: "Poppins-Bold";
    src: url(../../assets/fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: "Roboto-Light";
    src: url(../../assets/fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: "Roboto-Bold";
    src: url(../../assets/fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: "ProximaNova-Regular";
    src: url(../../assets/fonts/proximanova/ProximaNova-Regular.otf);
}

p {
    line-height: normal;
}

.best_app_lifestyle .smdy_text h2 {
    font-family: "Poppins-SemiBold";
    color: #242f51;
    font-size: 2.813rem;
    max-width: 89%;
    margin: 0;
    line-height: 1.2;
}

.best_app_lifestyle .smdy_btn ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 1rem 0;
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
}

.smdy_btn ul li:nth-child(1) a .button {
    background-color: #7ad7f0;
    border: none;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.125rem;
    font-family: "Poppins-Bold";
    margin: 0 auto;
    cursor: pointer;
    border-radius: 5px;
}

.smdy_btn ul li:nth-child(2) a .button:hover {
    border: 2px solid #88e5b7;
    padding: 1rem 2rem;
}

.smdy_btn ul li:nth-child(2) a .button {
    border-radius: 0.5rem;
    color: rgb(0, 0, 0);
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.125rem;
    font-family: "Poppins-Bold";
    margin: 0 auto;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #88e5b700;
}

.download_app_second {
    position: relative;
}

.download_app_second h3 {
    font-family: "Poppins-SemiBold";
    color: #242f51;
    font-size: 2.813rem;
}

.download_app_second p {
    font-family: "Poppins-Light";
    padding: 0.7rem 0 0 0;
    margin: 0;
    font-size: 1rem;
    color: #000;
}

.download_app_second .mob-app-img-sample {
    background-image: url(../../assets/images/tech_design.png);
    background-position: center;
    background-repeat: no-repeat;
}

.download_app_second .mob-app-img-sample img {
    display: block;
    margin: 0 auto;
}

.animation_element {
    margin: 0 auto;
}

@keyframes bg_rotate {
    100% {
        transform: rotate(360deg);
    }
}

.best_app_lifestyle {
    background-image: url(../../assets/images/best_app_lifestyle_BG4.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% auto;
}

.best_app_lifestyle ul li {
    display: inline;
}

.best_app_lifestyle .container-fluid {
    padding: 11rem 0;
}

.best_app_lifestyle .smdy_img p {
    font-family: "Poppins-Bold";
    color: #242f51;
    background-color: #e2eaed;
    border-radius: 1.25rem;
    width: max-content;
    padding: 0 1rem 0 0;
    font-size: 1.125rem;
}

.best_app_lifestyle .smdy_text p {
    font-family: "Poppins-Bold";
    color: #242f51;
    max-width: 88%;
    margin: 0;
}

.best_app_lifestyle .smdy_img p img {
    padding-right: 0.4rem;
}

.download_app_section {
    padding: 3rem;
    /* position: relative; */
    border-top: 2px solid #f4f4f4;
}

.download_app_section h3 {
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    color: #242f51;
}

button.accordion-button.collapsed {
    background: red !important;
}

.f_a_q {
    padding: 2rem 0;
}

.f_a_q .text-center h2 {
    font-family: 'Poppins', sans-serif;
    color: #242f51;
    font-weight: 600;
    font-size: 2.5rem;
    padding: 0;
    margin: 0;
}

.f_a_q .text-center p {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    color: #616368;
    padding: 0.5rem 0 2rem 0;
    margin: 0;
}

.our_customer_remark {
    margin: 0 auto;
    padding: 2rem 0;
}

.our_customer_remark h3.main_heading_txt {
    font-family: "Poppins-SemiBold";
    color: #242f51;
    font-size: 2.813rem;
}

.our_customer_remark .customers_pics {
    position: relative;
}

.our_customer_remark .pics img {
    max-width: 10%;
    position: absolute;
}

.our_customer_remark .pics img:nth-child(1) {
    top: 0%;
    left: 35%;
}

.our_customer_remark .pics img:nth-child(2) {
    top: 5%;
    right: 15%;
}

.our_customer_remark .pics img:nth-child(3) {
    top: 35%;
    right: 50%;
}

.our_customer_remark .pics img:nth-child(4) {
    top: 25%;
    left: 8%;
}

.our_customer_remark .pics img:nth-child(5) {
    top: 50%;
    left: 10%;
}

.our_customer_remark .pics img:nth-child(6) {
    top: 50%;
    right: 25%;
}

.our_customer_remark .pics img:nth-child(7) {
    bottom: 0%;
    left: 25%;
}

.heading_text .content_heading h3 {
    color: #242f51;
    font-family: "Poppins-SemiBold";
    font-size: 2.813rem;
}

.heading_text .content_heading p {
    color: #000000;
    font-size: 1rem;
    font-family: "Poppins-Light";
}

.our_customer_remark img.bg_customers_pics {
    width: -webkit-fill-available;
}

.customer_view h4 {
    font-family: "Poppins-SemiBold";
    font-size: 1.313rem;
    color: #242f51;
}

.why_choose_us {
    background-image: url(../../assets/images/bg4_trangle.png);
    background-color: #f8f5ff;
    padding: 5rem 0;
    background-repeat: no-repeat;
    background-size: contain;
}

.why_choose_us .hdng_n_txt p {
    font-family: "Poppins-Light";
    color: #000;
    font-size: 1rem;
    margin: 0;
}

.why_choose_us .options {
    color: #0b5164;
    display: flex;
}

.why_choose_us .options img {
    width: 15%;
    margin: auto;
}

.why_choose_us span {
    padding: 0 0 0 3rem;
}

.why_choose_us .options span h4 {
    font-family: "Poppins-SemiBold";
    font-size: 2rem;
    margin: 0;
    padding: 0;
    color: #242f51;
}

.why_choose_us .options span p {
    font-family: "Poppins-Light";
    font-size: 1rem;
    margin: 0 0 2px 0;
    padding: 0;
    color: black;
}

.why_choose_us .hdng_n_txt {
    max-width: 70%;
    padding-bottom: 3rem;
}

.why_choose_us .hdng_n_txt h3 {
    font-family: "Poppins-SemiBold";
    font-size: 2.813rem;
    color: #242f51;
}

.why_choose_us .bg_img {
    margin: 0 auto;
    text-align: right;
}

.how_we_work_for_you {
    padding: 3rem 0;
}

.how_we_work_for_you .heading_text h3 {
    font-family: "Poppins-Bold";
    font-size: 2.813rem;
    color: #242f51;
}

.how_we_work_for_you .heading_text p {
    font-family: "Poppins-Light";
    color: #000000;
    font-size: 1rem;
    max-width: 36%;
}

.download_app_section ul {
    display: flex;
    padding: 0;
}

.download_app_section ul li:nth-child(1) {
    padding-left: 0;
}

.download_app_section ul li {
    padding: 0 1rem;
}

.oneWallet-img-sec {
    position: relative;
    max-width: 75%;
    margin: auto;
}

.oneWallet-img-sec img {
    padding: 0;
}

.oneWallet-img-sec .rounded-img {
    animation-name: bg_rotate;
    animation-duration: 2s;
    animation-delay: 0s;
    border-radius: 50%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.oneWallet-img-sec .oneWallet_sub-img {
    position: absolute;
    top: 31%;
    left: 33%;
    max-width: 35%;
    background: transparent;
    border-radius: 50%;
    height: auto;
    padding: 2rem;
}

.oneWallet-img-sec .oneWallet_sub-img img {
    width: 80px;
    padding: 0;
    margin: auto;
}

.oneWallet-img-sec .sec-1 {
    position: absolute;
    top: -6%;
    right: 44%;
    max-width: 12%;
}

.oneWallet-img-sec .sec-2 {
    position: absolute;
    top: 6%;
    right: 7%;
    max-width: 16%;
}

.oneWallet-img-sec .sec-3 {
    position: absolute;
    bottom: 3%;
    right: 11%;
    max-width: 16%;
}

.oneWallet-img-sec .sec-4 {
    position: absolute;
    bottom: 8%;
    left: 6%;
    max-width: 16%;
}

.oneWallet-img-sec .sec-5 {
    position: absolute;
    top: 6%;
    left: 7%;
    max-width: 16%;
}

.oneWallet-img-sec .sec-6 {
    position: absolute;
    max-width: 15%;
    top: 43%;
    right: 6%;
}

.oneWallet-img-sec .sec-7 {
    position: absolute;
    max-width: 16%;
    top: 43%;
    left: 6%;
}

.oneWallet-img-sec .sec-8 {
    position: absolute;
    max-width: 16%;
    bottom: 13%;
    left: 25%;
}

.oneWallet-img-sec .sec-9 {
    position: absolute;
    max-width: 13%;
    top: 21%;
    left: 43%;
}

.oneWallet-img-sec .sec-10 {
    position: absolute;
    max-width: 11%;
    top: 33%;
    left: 64%;
}

.oneWallet-img-sec .sec-11 {
    position: absolute;
    max-width: 11%;
    top: 62%;
    left: 60%;
}

.oneWallet-img-sec .sec-12 {
    position: absolute;
    max-width: 11%;
    top: 56%;
    left: 24%;
}

.cas-token-img-sec .rounded-img {
    -webkit-animation: round360 18s linear infinite;
    -moz-animation: round360 18s linear infinite;
    -ms-animation: round360 18s linear infinite;
    -o-animation: round360 18s linear infinite;
    animation: round360 18s linear infinite;
}

.oneWallet-img-sec .oneWallet_sub-img {
    position: absolute;
    top: 31%;
    left: 33%;
    max-width: 35%;
    background: transparent;
    border-radius: 50%;
    height: auto;
    padding: 2rem;
}

.oneWallet-img-sec .oneWallet_sub-img img {
    width: 80px;
    padding: 0;
    margin: auto;
}

.oneWallet-img-sec .oneWallet_sub-img {
    position: absolute;
    top: 31%;
    left: 33%;
    max-width: 35%;
    background: transparent;
    border-radius: 50%;
    height: auto;
    padding: 2rem;
}

.oneWallet-img-sec .oneWallet_sub-img img {
    width: 80px;
    padding: 0;
    margin: auto;
}

.oneWallet-img-sec.animateElements.inView .sub-img-size_1 img {
    max-width: 50%;
    border-radius: 100% !important;
}

.we_deliver__start {
    padding: 3rem 2rem;
}

.we_deliver__start h3 {
    background-image: url(../../assets/images/heading_underline_img.png);
    font-family: "Poppins-SemiBold";
    font-size: 2.813rem;
    margin: 0;
    color: #242f51;
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 8% 5%;
}

.we_deliver__start p {
    font-family: "Poppins-Light";
    color: black;
    font-size: 1rem;
    padding: 0;
    margin: 0.7rem 0 0 0;
}


/* 1 */

@media only screen and (min-width:307px) and (max-width:381px) {
    .best_app_lifestyle {
        padding: 0 0.5rem;
    }
    .best_app_lifestyle .container-fluid {
        padding: 1rem 0;
    }
    .best_app_lifestyle .smdy_img p {
        font-size: 0.7rem;
    }
    .best_app_lifestyle .smdy_text h2 {
        font-size: 1.75rem;
        line-height: initial;
    }
    .best_app_lifestyle .smdy_text p {
        max-width: 100%;
    }
    .best_app_lifestyle .smdy_btn ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .we_deliver__start {
        padding: 0 !important;
    }
    .we_deliver__start .oneWallet-img-sec .oneWallet_sub-img {
        top: 17% !important;
        left: 22% !important;
        max-width: 59% !important;
        background: transparent !important;
    }
    .download_app_second {
        padding: 0.5rem;
    }
    .download_app_second .custom-width {
        max-width: 100%;
    }
    .download_app_second h3 {
        padding: 0 0 0.1rem 0;
        font-size: 1.3rem;
    }
    .download_app_section {
        padding: 1rem;
    }
    .download_app_section h3 {
        font-size: 2rem;
        line-height: normal;
    }
    .download_app_section ul {
        padding: 0;
    }
    .download_app_section ul li {
        padding: 0;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
    }
    .how_we_work_for_you {
        padding: 1rem;
    }
    .how_we_work_for_you .heading_text h3 {
        font-size: 2.5rem;
        line-height: initial;
    }
    .how_we_work_for_you .heading_text p {
        max-width: 100%;
    }
    .how_we_work_for_you .work-process-card .card_img_col {
        padding: 0.5rem 0;
    }
    .why_choose_us {
        padding: 0;
    }
    .why_choose_us .hdng_n_txt {
        max-width: 95%;
        padding-bottom: 1rem;
    }
    .why_choose_us .hdng_n_txt h3 {
        font-size: 2.3rem;
    }
    .why_choose_us .options {
        display: inline-table;
        padding: 1rem 0;
    }
    .why_choose_us .options span h4 {
        font-size: 1.7rem;
    }
    .our_customer_remark h3.main_heading_txt {
        font-size: 2rem;
    }
    .our_customer_remark .heading_text .content_heading h3 {
        font-size: 1.4rem;
    }
    .our_customer_remark .customers_pics img {
        padding: 1rem 0px;
    }
    .our_customer_remark .customer_view h4 {
        font-size: 1.1rem;
    }
}


/* 2 */

@media only screen and (min-width:382px) and (max-width:767px) {
    .best_app_lifestyle {
        padding: 0 0.5rem;
    }
    .best_app_lifestyle .container-fluid {
        padding: 1rem 0;
    }
    .best_app_lifestyle .smdy_img p {
        font-size: 0.7rem;
        padding: 0 1rem 0 0;
    }
    .best_app_lifestyle .smdy_text p {
        max-width: 90%;
    }
    .best_app_lifestyle .smdy_text h2 {
        font-size: 2.5rem;
        line-height: initial;
        max-width: 21.1rem;
    }
    .best_app_lifestyle .smdy_btn ul {
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
    }
    .background-best_app_lifestyle img {
        max-width: 60%;
    }
    .we_deliver__start {
        padding: 0 !important;
    }
    .we_deliver__start .oneWallet-img-sec .oneWallet_sub-img {
        top: 26% !important;
        left: 29% !important;
        max-width: 40% !important;
        background: transparent !important;
    }
    .download_app_second {
        padding: 0.5rem;
    }
    .download_app_second .custom-width {
        max-width: 100%;
    }
    .download_app_second h3 {
        padding: 0 0 0.1rem 0;
        font-size: 1.4rem;
    }
    .download_app_second h3 {
        font-size: 3rem;
    }
    .download_app_section {
        padding: 1rem;
    }
    .download_app_section h3 {
        font-size: 2rem;
        line-height: normal;
    }
    .download_app_section ul li {
        padding: 1rem 0;
        justify-content: center;
        text-align: center;
    }
    .how_we_work_for_you {
        padding: 1rem;
    }
    .how_we_work_for_you .heading_text h3 {
        font-size: 2rem;
        line-height: inherit;
    }
    .how_we_work_for_you .heading_text p {
        max-width: 100%;
    }
    .how_we_work_for_you {
        padding: 1rem;
    }
    .how_we_work_for_you .heading_text h3 {
        font-size: 2.5rem;
        line-height: initial;
    }
    .how_we_work_for_you .heading_text p {
        max-width: 70%;
    }
    .how_we_work_for_you .work-process-card .card_img_col {
        padding: 0.5rem 0;
    }
    .why_choose_us {
        padding: 0;
    }
    .why_choose_us .hdng_n_txt {
        max-width: 95%;
        padding-bottom: 1rem;
    }
    .why_choose_us .hdng_n_txt h3 {
        font-size: 2.3rem;
    }
    .why_choose_us .options {
        display: inline-table;
        padding: 1rem 0;
    }
    .why_choose_us .options span h4 {
        font-size: 1.6rem;
    }
    .our_customer_remark h3.main_heading_txt {
        font-size: 2rem;
    }
    .our_customer_remark .heading_text .content_heading h3 {
        font-size: 1.4rem;
    }
    .our_customer_remark .customers_pics img {
        padding: 1rem 0px;
    }
    .our_customer_remark .customer_view h4 {
        font-size: 1.1rem;
    }
}


/* 3 */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .best_app_lifestyle {
        padding: 0 0.5rem;
    }
    .best_app_lifestyle .container-fluid {
        padding: 1rem 0;
    }
    .background-best_app_lifestyle img {
        max-width: 60%;
    }
    .download_app_second {
        padding: 0.5rem;
    }
    .download_app_second .custom-width {
        max-width: 100%;
    }
    .download_app_second h3 {
        padding: 0 0 0.1rem 0;
        font-size: 1.4rem;
    }
    .download_app_second h3 {
        font-size: 3rem;
    }
    .download_app_section {
        padding: 1rem;
    }
    .download_app_section h3 {
        font-size: 2rem;
        line-height: normal;
    }
    .download_app_section ul li {
        padding: 1rem 0;
        justify-content: center;
        text-align: center;
    }
    .how_we_work_for_you .heading_text p {
        max-width: 59%;
    }
    .why_choose_us .options {
        padding: 1rem 0;
    }
    .why_choose_us .options img {
        width: 15%;
        margin: auto;
    }
    .why_choose_us {
        padding: 1rem 0;
    }
    .why_choose_us .hdng_n_txt {
        padding-bottom: 1rem;
    }
    .why_choose_us .bg_img {
        text-align: center;
        width: 75%;
    }
}


/* 4 */

@media only screen and (min-width: 992px) and (max-width: 1024px) {
    .oneWallet-img-sec {
        max-width: 100% !important;
    }
    .download_app_section {
        padding: 1rem;
    }
    .download_app_section h3 {
        font-size: 2rem;
        line-height: normal;
    }
    .download_app_section ul li {
        padding: 1rem 0;
        justify-content: center;
        text-align: center;
    }
    .how_we_work_for_you .heading_text p {
        max-width: 59%;
    }
    .our_customer_remark .pics img:nth-child(5) {
        top: 15%;
        left: 20%;
    }
    .our_customer_remark .pics img:nth-child(7) {
        bottom: 75%;
        left: 53%;
    }
}


/* 5 */

@media only screen and (min-width: 1025px) and (max-width: 1094px) {
    .oneWallet-img-sec {
        max-width: 100% !important;
    }
    .how_we_work_for_you .heading_text p {
        max-width: 59%;
    }
}


/* 6 */

@media only screen and (min-width: 1095px) and (max-width: 1523px) {
    .oneWallet-img-sec {
        max-width: 100% !important;
    }
}