<!-- why choose us start -->
<div class="why_choose_us">
    <div class="width" style="max-width: 95%; margin:0 auto;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="hdng_n_txt">
                        <h3>Why Choose us</h3>
                        <p style="color: #010101; margin: 0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>

                    <div class="options meet-new-cust">
                        <img src="../../assets/images/new_custmer.png" alt="">
                        <span>
                            <h4>Meet new customers</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab illo quis blanditiis accusamus nisi at. Dolor commodi expedita harum pariatur!</p>
                        </span>
                    </div>

                </div>
                <div class="col-lg-6 bg_img">
                    <img src="../../assets/images/w_c_u_BG.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- why choose us End -->

<!-- our customer remark Start -->
<div class="our_customer_remark">
    <div class="container-fluid">
        <h3 class="main_heading_txt lh-1">Our Customer Remark</h3>
        <div class="row">
            <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8"></div>
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <div class="heading_text">
                    <div class="content_heading">
                        <h3 class="lh-1 mb-1">Meet Client Satisfaction by using product</h3>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->
        <div class="row">
            <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8 customers_pics">
                <div class="customer">
                    <img class="bg_customers_pics" src="../../assets/images/bg3.png" alt="">
                    <div class="pics">
                        <img src="../../assets/images/customer1.png" alt="">
                        <img src="../../assets/images/customer2.png" alt="">
                        <img src="../../assets/images/customer3.png" alt="">
                        <img src="../../assets/images/customer4.png" alt="">
                        <img src="../../assets/images/customer5.png" alt="">
                        <img src="../../assets/images/customer6.png" alt="">
                        <img src="../../assets/images/customer7.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <div class="heading_text">
                    <div class="content_heading">
                        <p class="lh-base">The rise of mobile devices transforms the way we consume. elevant channels such as Facebook.</p>
                        <div class="rating-star">
                            <i class="bi bi-star-fill text-warning p-2 display-6"></i>
                            <i class="bi bi-star-fill text-warning p-2 display-6"></i>
                            <i class="bi bi-star-fill text-warning p-2 display-6"></i>
                            <i class="bi bi-star-fill text-warning p-2 display-6"></i>
                            <i class="bi bi-star-fill text-warning p-2 display-6"></i>
                        </div>
                        <div class="customer_view">
                            <h4 class="lh-1">User friendly & Customizable</h4>
                            <p class="lh-base">Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution.
                                User generated content in real-time will have multiple touchpoints for offshoring.
                            </p>
                        </div>
                        <!--  -->


                        <!--  -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- our customer remark End -->
<!-- faq start -->
<div class="faq" style="padding: 2rem 0;">
    <div class="container">
        <div class="text-center">
            <h2 class="lh-1">Frequently asked questions</h2>
            <p>The rise of mobile devices transforms the way we consume information entirely and the world's most elevant channels such as Facebook.</p>
        </div>
        <ngb-accordion #acc="ngbAccordion" activeIds="config-panel-one">
            <ngb-panel title="How to contact with riders emergency?" id="config-panel-one">
                <ng-template ngbPanelContent>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                    on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                    raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </ng-template>
            </ngb-panel>
            <ngb-panel title="App installation failed, how to update system information?">
                <ng-template ngbPanelContent>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                    on it squid single-origin coffee nulla assumenda shoreditch et.
                </ng-template>
            </ngb-panel>
            <ngb-panel title="App installation failed, how to update system information?">
                <ng-template ngbPanelContent>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                    on it squid single-origin coffee nulla assumenda shoreditch et.
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
</div>
<!-- faq end -->
<!-- download app section! start -->
<div class="download_app_section">
    <div class="container">
        <h3>Download Our App Now!</h3>
        <p>The rise of mobile devices transforms the way we consume information entirely<br>and the world's most elevant channels such as Facebook.</p>
        <ul>
            <li><img src="../../assets/images/google play store logo.png" alt=""></li>
            <li><img src="../../assets/images/apple store logo.png" alt=""></li>
        </ul>
    </div>
</div>
<!-- download app section! end -->